@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: 'Roboto';
}

/* Session MSG */

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #c3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

/* Titulo dos Crud*/
.title-table {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

/* Página: cliente/create */

.register-container .row{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.register-container .row #button-register {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.register-container input, label{
    margin-top: 20px;
}


/* Página: Cliente/index */

.table-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.table-container thead, tr {
    font-weight: bold;
}